<div >
  <table class="table table-hover">
    <thead>
      <tr>
				<th scope="col">No.</th>
        <th scope="col">Type</th>
        <th scope="col">Brand</th>
        <th scope="col">Model</th>
        <th scope="col">Performance</th>
				<th scope="col">Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of components; let j = index" class="table-warning">
        <th scope="row">{{j+1}}.</th>
        <td>{{i.tipus}}</td>
        <td>{{i.marka}}</td>
        <td>{{i.model}}</td>
				<td>{{i.teljesitmeny}}</td>
				<td>{{i.ar}}</td>
      </tr>
    </tbody>
  </table>
</div>
