<br>
<div class="jumbotron text-center">
  <h1>Software Engineering Project</h1>
  <p class="lead">Welcome to Computer Hardware store project</p>
  <p> Author : Simon Norbert <br> ID: snim1671 <br> Group: 533 <br> Third Year Computer Science<p>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>About</h3>
    <p>This application is a simulation of a computer hardware store.</p>
  </div>
  <div class="col-md-6">
    <h3>Implementation</h3>
    <p>Implemented with MEAN stack which stands for (MongoDB, Express, Angular, NodeJs)</p>
  </div>
</div>
