<h2 class="page-header">Add Component</h2>
<form (submit)="hozzaadas()">

  <div class="form-group">
    <label>Type</label>
    <input type="text" class="form-control" [(ngModel)]="tipus" name="tipus">
  </div>

  <div class="form-group">
    <label>Brand</label>
    <input type="text" class="form-control" [(ngModel)]="marka" name="marka">
  </div>

  <div class="form-group">
    <label>Model</label>
    <input type="text" class="form-control" [(ngModel)]="model" name="model">
  </div>
  <div class="form-group">
    <label>Performance</label>
    <input type="text" class="form-control" [(ngModel)]="teljesitmeny" name="teljesitmeny">
  </div>
  <div class="form-group">
    <label>Price</label>
    <input type="text" class="form-control" [(ngModel)]="ar" name="ar">
  </div>
  <input type="submit" class="btn btn-primary" value="Add Component">
</form>
